streamlit==1.20.0
plotly==5.13.0
matplotlib==3.7.1
pillow>=10.0.0
numerize==0.12
streamlit-keplergl
streamlit==1.20.0
plotly==5.13.0
matplotlib==3.7.1
pillow>=10.0.0
numerize==0.12
streamlit-keplergl
streamlit==1.20.0
plotly==5.13.0
matplotlib==3.7.1
pillow==9.4.0
pandas==1.5.3
numpy<2
altair==4.2.2
